
.full-width {
  display: block;
  width: 100%;
}

.border-bottom {
  border-bottom: 1px solid grey;
  padding: 0 5px;
}

.sub {
    border: 0;
    height: 34px;
    line-height: 34px;
}

.border-bottom.sub {
  border-bottom: 3px solid grey;
}

.show-hidden {
	font-weight: bold;
}

input.borderless {
    width: 100%;
    display: inline-block;
    border: 0;
    text-align: right;
    font-weight: bold;
    margin: 0 -5px;
    padding: 0 5px;
    box-sizing: content-box;
}

.borderless.text-center {
  text-align: center;
}

.borderless.text-left {
  text-align: left;
}

textarea.borderless {
  width: 100%;
  max-width: 100%;
  padding: 0;
  border: 0;
}

.modal .table-hover > tbody > tr:hover {
    background-color: orange;
}
.modal .table-hover > tbody > tr:hover td {
  border: 1px solid orange;
  color: white;
}

.hide {
  display: none !important; 
}

.print-visible,
.print-visible-block,
.print-visible-inline,
.print-visible-inline-block {
  display: none;
}

@media screen {
  #flashPrint {
    display: none;
  }
}

@media print {
  .print-visible, .print-visible-block {
    display: block;
  }
  .print-visible-inline {
    display: inline;
  }
  .print-visible-inline-block {
    display: inline-block;
  }
  .print-hidden {
    display: none;
  }
  /* Hide buttons by default */
  button, .btn {
    display: none;
  }
}